<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布博客</title>
</head>
<body>
<form action="/release" method="post">
    <div>
        <h1>发布博客</h1>
    </div>
    <div>
        <input type="text" name="blog_title" id="blog_title" placeholder="标题"><br>
        <input type="text" name="blog_type" id="blog_type" placeholder="类型"><br>
        <textarea name="blog_content" id="blog_content" cols="30" rows="10" placeholder="请输入博客内容"></textarea><br>
        <input type="submit" value="发布">
    </div>
</form>
</body>
</html>