<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
{% if flag is None %}
    <h3>当前用户不存在！请先<a href="/register">注册</a></h3>
{% elif flag == "error" %}
    <h3>密码错误</h3>
{% elif flag == "nologin" %}
    <h3>未登录！请先登录</h3>
{% else %}

{% end %}
<form action="{{ url }}" method="post">
    <label for="username">用户名：</label>
    <input type="text" name="username" id="username"/><br>
    <label for="password">密码：</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="登录">
</form>
</body>
</html>